{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block head %} {% endblock %}
{% block body %}
    <div class="index-main">
        <div class="center-content">
            <h2>Welcome to Webfolio</h2>
            <h4>Here you can explore portfolios of others and create your own works</h4>
            <div class="button-container">
                <a href="{{ url_for('register') }}">
                    <button type="button" class="btn btn-primary">Registration</button>
                </a>
                <a href="{{ url_for('login') }}">
                    <button type="button" class="btn btn-secondary">Log in</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
